body{
    min-height: 100vh;
}

.mainbox{
    background-color: white;
    width: 100%;
    margin: 0px auto;
    min-height: 100vh;
    position: relative;
}

.leftside{
    background-color: #e7ebe6;
    width: 10%;
    min-height: 1100px;
    float:left;
    position: sticky;
    top: 0;
}

.kontaktiteksts{
    position: relative;
    margin: 4px;
    text-indent: 35px;
    top: 10px;
    font-size: 19px;
    font-family: "Segoe UI", Candara;
    font-weight: normal;
    text-align: justify;
    float: snap;
    left: 50px;
}


.main {
    background-color: white;
    width: 80%;
    height:100%;
    float: left;
}

.footer{
    clear: both;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #303030;
    background-image: url('../bildes/texture.png');
    background-repeat:repeat;
    overflow: hidden;
}

.footer>li{
    position:relative;
    padding:5px 5px 5px 5px;
    top: 8px;
    left: 8.8%;
    font-size: 16px;
    overflow: hidden;
}

.footerText{
    color: gray;
    position: relative;
    top: -15px;
    left: 43%;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}

.menu{
    background-color: #303030;
    background-image: url('../bildes/texture.png');
    background-repeat:repeat;
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
}

.menu>ul>li{
    display:inline;
    position: relative;
    padding:10px 10px 10px 20px;
    font-family: "Segoe UI", Candara;
    font-weight: bold;
    font-size: 17px;
    top: 65px;
    right: 300px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a.active {
    transition: 0.4s;
    color: lightblue;
}

a.sidemenu{
    margin: 4px;
    position: relative;
    font-size: 17px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 14px 0px;
    display: inline-block;
    width: 95%;
    text-align: center;
    text-decoration: none;
    color: black;
}

a.sidemenu:hover, a.sidemenu.active{
    transition: 0.4s;
    background-color: lightblue;
    color: blue;
    display: inline-block;
}

a.linksteksta{
    text-decoration: none;
    color: blue;
}

a.linksteksta:hover{
    transition: 0.4s;
    color: red;
}

.virsraksts{
    position: absolute;
    font-family: "Segoe UI", Candara;
    color: white;
    font-weight: bold;
    font-size: 35px;
    left: 169px;
    top: 50px;
}

.gallery{
    max-width: 270px;
    max-height: 270px;
    margin: 7px;
    border: 1px solid #ccc;
    background-color: white;
}

.gallery:hover {
    transition: 0.4s;
    border: 2px solid #777;
}

.mgallery{
    text-align: left;
}

.gallerybox{
    position: relative;
    top: 2.6%;
    left: 5%;
    width: 87%;
    border: 5px solid gray;
    margin: 20px;
}

.logo{
    position: absolute;
    left: 31px;
    top: 0;
    max-height: 100px;
}

.map{
    position: relative;
    padding-bottom: 90%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    top: 30px;
    left: 88px;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.mapcontainer{
    position: relative;
    width: 80%;
    padding-bottom: 200px;
}

.toptext{
    position: relative;
    left: 5%;
    font-family: "Segoe UI", Candara;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}

.raksts{
    position: relative;
    width: 87%;
    height: auto;
    min-height: 220px;
    padding: 10px;
    top: 3%;
    left: 5%;
    border: 5px solid gray;
    margin: 15px;
}

.mazsvirsraksts{
    position: relative;
    bottom: 18px;
    margin: 7px;
    font-family: "Segoe UI", Candara;
    font-weight: bold;
    font-size: 25px;
    padding:5px 5px 5px 5px;
}

.monitorutops{
    position: relative;
    left: 1%;
    margin: 15px;
    padding-left: 35px;
    padding-bottom: 15px;
    font-family: "Segoe UI", Candara;
    font-weight: bold;
    font-size: 50px;
}

.gallerytext{
    position: relative;
    padding:15px 15px 15px 25px;
    font-family: "Segoe UI", Candara;
    font-weight: bold;
    font-size: 25px;
}

.videogallery{
    position: relative;
    width: 86%;
    top: 3%;
    left: 9%;
    overflow: hidden;
}

.video{
    margin: 40px;
    font-family: "Segoe UI", Candara;
    font-size: 16px;
    width: 560px;
    float: left;
}

.videotext{
    position: relative;
    top: 1.8%;
    left: 11.5%;
    font-family: "Segoe UI", Candara;
    font-weight: bold;
    font-size: 27px;
}

.youtubevid{
    width: 560px;
    height: 315px;
}

.monitors{
    padding:15px 15px 15px 25px;
    border: 2px solid #777;
    margin: 25px;
}

.teksts{
    position: relative;
    margin: 4px;
    text-indent: 35px;
    bottom: 10px;
    font-size: 19px;
    font-family: "Segoe UI", Candara;
    font-weight: normal;
    text-align: justify;
    float: snap;
}

.rakstspicture{
    position: relative;
    max-height: 155px;
    float: left;
    padding: 5px 5px;
    z-index:1;
}

@media only screen and (max-width: 1000px) {
    .youtubevid{
        max-width: 280px;
        max-height: 167px;
    }
}

@media only screen and (max-width: 1700px) {
    .menu>ul>li{
        right: 200px;
    }
    .footerText{
        left: 70px;
        top: -10px;
    }
}

@media only screen and (max-width: 1500px) {
    .menu{
        height: 160px;
    }
    .menu>ul>li{
        right: 0px;
        top: 115px;
    }
    .main {
        width: 100%;
    }
    .leftside{
        min-height: 105px;
        height: 105px;
        width:100%;
        position: relative;
    }
    .leftside>p{
        min-width:104.7%;
        overflow: hidden;
    }
}