.mainbox{
    background-color: chartreuse;
    width: 100%;
    margin: 0px auto;
}

.menu{
    background-color: black;
    width: 100%;
}

.leftside{
    background-color: rebeccapurple;
    width: 13%;
    height: 900px;
    float:left;
}

.main {
    background-color: darkkhaki;
    width: 75%;
    height: 900px;
    float: left;
}

.rightside{
    background-color: aqua;
    width: 12%;
    height: 900px;
    float:left;
}

.footer{
    background-color: fuchsia;
    width: 100%;
    height: 1200px;
}

.menu{
    height: 35px;
    text-align: center;
}

.menu>ul>li{
    display:inline;
    padding:10px 10px 10px 10px;
    position: relative;
    top:8px;
    font-family: "Segoe UI", Candara;
    font-weight: bold;
    font-size: 17px;
}

.menu>li>a{
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: lightblue;
}

a {
    text-decoration: none;
    color: white;
}

.gallery{
    max-width: 200px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.gallery:hover {
    border: 1px solid #777;
}

.mgallery{
    text-align: left;
    background-color: #ffff99;

}