.mainbox{
    background-color: chartreuse;
    width: 800px;
    margin: 0px auto;
}

.menu{
    background-color: darkgrey;
}

.leftside{
    background-color: rebeccapurple;
    width: 50px;
    float:left;
}

.main{
    background-color: darkkhaki;
    width: 600px;
    float:left;
}

.rightside{
    background-color: aqua;
    width: 100px;
    float:left;
}

.footer{
    background-color: fuchsia;
}

.menu{
    height: 35px;
    text-align: center;
}

.menu>ul>li{
    display:inline;
    padding:10px 10px 10px 10px;
    background-color: mediumpurple;
    position: relative;
    top:8px;
    font-family: Algerian, serif;
    font-size: 15px;
}

.menu>li>a{
    text-decoration: none;
    color:#fff;
}